<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>1</key>
       	<string>获得红宝石,攻击力+</string>
	<key>2</key>
       	<string>获得蓝宝石,防御力+</string>
	<key>3</key>
       	<string>获得绿宝石,敏捷+ 1</string>
	<key>5</key>
       	<string>获得红血瓶,HP+</string>
	<key>6</key>
       	<string>获得蓝血瓶,HP+</string>
	<key>13</key>
       	<string>获得金币100</string>
	<key>14</key>
       	<string>你已经有这个道具了</string>
	<key>16</key>
       	<string>获得圣水,生命值+</string>
	<key>17</key>
       	<string>获得一把黄钥匙</string>
	<key>18</key>
       	<string>获得一把蓝钥匙</string>
	<key>19</key>
       	<string>获得一把红钥匙</string>
	<key>20</key>
       	<string>获得神秘钥匙</string>
	<key>23</key>
       	<string>获得大钥匙,所有钥匙+1</string>
	<key>29</key>
       	<string>获得怪物手册</string>
	<key>30</key>
       	<string>获得笔记本</string>
	<key>32</key>
       	<string>获得金块 金币+200</string>
	<key>33</key>
       	<string>获得稿</string>
	<key>34</key>
       	<string>获得宝石稿</string>
	<key>35</key>
       	<string>获得冰护符</string>
	<key>36</key>
       	<string></string>
	<key>37</key>
       	<string>获得跃进之翼,等级提升1级</string>
	<key>38</key>
       	<string>获得向下飞行器</string>
	<key>39</key>
       	<string>获得楼层飞行器</string>
	<key>40</key>
       	<string>获得十字架</string>
	<key>41</key>
       	<string>获得炸弹</string>
	<key>42</key>
       	<string>获得任意门 X 10</string>
	<key>43</key>
       	<string>获得神圣之证</string>
	<key>45</key>
       	<string>获得中心飞行器</string>
	<key>49</key>
       	<string>获得铁剑,攻击力+10</string>
	<key>50</key>
       	<string>获得银剑,攻击力+30</string>
	<key>51</key>
       	<string>获得骑士剑,攻击力+70</string>
	<key>52</key>
       	<string>获得圣剑,攻击力+120</string>
	<key>53</key>
       	<string>获取神圣剑,攻击力+150</string>
	<key>57</key>
       	<string>获得铁盾,防御力+10</string>
	<key>58</key>
       	<string>获得银盾,防御力+30</string>
	<key>59</key>
       	<string>获得骑士盾,防御力+70</string>
	<key>60</key>
       	<string>获得圣盾,防御力+120</string>
	<key>61</key>
       	<string>获得神圣盾,防御力+190</string>
	<key>62</key>
       	<string>获得贤者之证</string>
	<key>63</key>
       	<string>获得霸者之证</string>
	<key>64</key>
       	<string>获得勇者之证</string>
	<key>100</key>
       	<string>得到金币数 %d  经验值 %d</string>
	<key>101</key>
       	<string>获得金币100</string>
	<key>102</key>
       	<string>你已经有这个道具了</string>
	<key>103</key>
       	<string>需要在楼梯旁才能使用</string>
	<key>104</key>
       	<string>保存成功</string>
	<key>105</key>
       	<string>不能使用</string>
	<key>106</key>
       	<string>获得一个任意门</string>
	<key>107</key>
       	<string>获得两颗红宝石,攻击力+4</string>
	<key>108</key>
       	<string>无法通过</string>
	<key>109</key>
       	<string>条件未达到</string>
	<key>110</key>
       	<string>升级成功</string>
	<key>111</key>
       	<string>霸者已达3级，道具无效</string>
	<key>112</key>
       	<string>勇者已达3级，道具无效</string>
    </dict>
</plist>