<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>NPC3_6</key>
	<dict>
       		<key>talk1</key>
       		<string>人类啊，如果你给我%d金币的话，我可以增强你的战斗力！</string>
		<key>goodsHP</key>
      		<string>增加%d血量</string>
		<key>goodsAtta</key>
       		<string>增加%d攻击力</string>
		<key>goodsDefen</key>
       		<string>增加%d防御力</string>
		<key>cancel</key>
       		<string>离开</string>
	</dict>
	<key>NPC7_7</key>
	<dict>
       		<key>talk1</key>
       		<string>勇士，我可以将你积攒的经验化作你的力量！</string>
		<key>goods1</key>
      		<string>提升%d个等级(70Exp)</string>
		<key>goods2</key>
       		<string>增加%d攻击力(20Exp)</string>
		<key>goods3</key>
       		<string>增加%d防御力(20Exp)</string>
		<key>cancel</key>
       		<string>离开</string>
	</dict>
	<key>NPC_5_6</key>
	<dict>
       		<key>talk1</key>
       		<string>人类啊，如果你给我%d金币的话，我可以增强你的战斗力！</string>
		<key>goodsHP</key>
      		<string>增加%d血量</string>
		<key>goodsAtta</key>
       		<string>增加%d攻击力</string>
		<key>goodsDefen</key>
       		<string>增加%d防御力</string>
		<key>cancel</key>
       		<string>离开</string>
	</dict>
	<key>NPC_7_7</key>
	<dict>
       		<key>talk1</key>
       		<string>勇士，我可以将你积攒的经验化作你的力量！</string>
		<key>goods1</key>
      		<string>提升%d个等级(190Exp)</string>
		<key>goods2</key>
       		<string>增加%d攻击力(50Exp)</string>
		<key>goods3</key>
       		<string>增加%d防御力(50Exp)</string>
		<key>cancel</key>
       		<string>离开</string>
	</dict>
	<key>NPC0_4</key>
	<dict>
		<key>talk1</key>
       		<string>又有挑战者吗？希望你可以活着回去，嘻嘻嘻嘻…</string>
	</dict>
	<key>NPC0_2</key>
	<dict>
		<key>talk1</key>
       		<string></string>
	</dict>
	<key>NPC0_8</key>
	<dict>
		<key>talk1</key>
       		<string>就是这里了...攻进去！</string>
	</dict>
	<key>NPC1_3</key>
	<dict>
		<key>talk1</key>
		<string>听说这座塔不止20层，但最高只能去到20层，真叫人头疼...</string>
	</dict>
	<key>NPC1_4</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC2_4</key>
	<dict>
		<key>talk1</key>
		<string>你认识那个被抓住的盗贼吗？听说他在找一个锄头，不知道用来干什么呢</string>
	</dict>
	<key>NPC2_2</key>
	<dict>
		<key>talk1</key>
		<string>我手上有大量钥匙，你缺少哪种？</string>
		<key>goods1</key>
		<string>黄钥匙($20)</string>
		<key>goods2</key>
		<string>蓝钥匙($80)</string>
		<key>cancel</key>
		<string>离开</string>
		<key>talk2</key>
		<string>咦！这不是我的锄头吗！谢谢你替我找回来！让我帮你打开通往地下的通道吧</string>
	</dict>
	<key>NPC4_4</key>
	<dict>
		<key>talk1</key>
		<string>15金币就可以回复200体力，需要吗</string>
		<key>goods1</key>
		<string>需要!</string>
		<key>cancel</key>
		<string>离开</string>
	</dict>
	<key>NPC5_3</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC5_4</key>
	<dict>
		<key>talk1</key>
		<string>我这里有两颗红宝石，你想要吗？40金币卖给你</string>
		<key>goods1</key>
		<string>需要</string>
		<key>cancel</key>
		<string>离开</string>
	</dict>
	<key>NPC8_3</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC13_4</key>
	<dict>
		<key>talk1</key>
		<string>骑士的重击率高达30%，要小心…</string>
	</dict>
	<key>NPC14_3</key>
	<dict>
		<key>talk1</key>
		<string>~</string>
	</dict>
	<key>NPC15_4</key>
	<dict>
		<key>talk1</key>
		<string>你有钥匙吗？我愿意大量收购</string>
		<key>goods1</key>
		<string>卖黄钥匙($10)</string>
		<key>goods2</key>
		<string>卖蓝钥匙($40)</string>
		<key>goods3</key>
		<string>卖红钥匙($250)</string>
		<key>cancel</key>
		<string>离开</string>
	</dict>
	<key>NPC19_3</key>
	<dict>
		<key>talk1</key>
		<string>公主就在楼上，但听说有恶魔守着，如果实力不够，千万不要上去</string>
	</dict>
	<key>NPC20_5</key>
	<dict>
		<key>talk1</key>
		<string>公主我来救你了</string>
		<key>talk2</key>
		<string>……</string>
		<key>talk3</key>
		<string>怎么了</string>
		<key>talk4</key>
		<string>哈哈，受死吧</string>
		<key>talk5</key>
		<string>真正的公主在这座塔的最底部，有本事就去救她吧！</string>
	</dict>
	<key>NPC_1_3</key>
	<dict>
		<key>talk1</key>
		<string>勇士，你有章吗？你拿到后可以来我这里升级</string>
		<key>talk2</key>
		<string>升级你的霸者之证到2级，只要满足20级</string>
		<key>talk3</key>
		<string>升级你的霸者之证到3级，需要40级和100经验</string>
		<key>talk4</key>
		<string>升级你的勇者之证到2级，等级需要达到20级和500金币</string>
		<key>talk5</key>
		<string>升级你的勇者之证到3级，需要等级40级</string>
		<key>talk6</key>
		<string>勇士，你的章已经满级了</string>
		<key>goods1</key>
		<string>升级</string>
		<key>cancel</key>
		<string>离开</string>
	</dict>
	<key>NPC_2_1</key>
	<dict>
		<key>talk1</key>
		<string>勇士，你是来救公主的吧？这层往后的怪物会变的更墙，以你现在的实力，是绝对赢不了的！</string>
		<key>talk2</key>
		<string>是吗？那怎么办？</string>
		<key>talk3</key>
		<string>我建议你去17F取宝物，这个你拿去吧，拿到宝物后你的力量会大大增强，到时再来找我</string>
		<key>talk4</key>
		<string>我拿到了！力量真的增加不少，谢谢你！</string>
		<key>talk5</key>
		<string>加油吧，救回公主再谢我</string>
	</dict>
	<key>NPC_5_4</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC_7_3</key>
	<dict>
		<key>talk1</key>
		<string>勇士，这是任意门，送给你吧，某些墙壁可以用它移除，但是是哪些墙，就要靠你的直觉了</string>
	</dict>
	<key>NPC_7_4</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC_8_3</key>
	<dict>
		<key>talk1</key>
		<string>霸者之证对法师无效</string>
	</dict>
	<key>NPC_9_3</key>
	<dict>
		<key>talk1</key>
		<string>听说这层有一个密道</string>
	</dict>
	<key>NPC_10_9</key>
	<dict>
		<key>talk1</key>
		<string>这个道具可以使怪物变成史莱姆</string>
	</dict>
	<key>NPC_11_3</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC_11_4</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC_14_3</key>
	<dict>
		<key>talk1</key>
		<string>150金币补充一次任意门，需要吗？</string>
	</dict>
	<key>NPC_14_4</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC_16_4</key>
	<dict>
		<key>talk1</key>
		<string></string>
	</dict>
	<key>NPC_16_9</key>
	<dict>
		<key>talk1</key>
		<string>获得魔法护符,战斗时法师类敌人防御力会减弱</string>
	</dict>
	<key>NPC_18_3</key>
	<dict>
		<key>talk1</key>
		<string>圣水能使你的生命翻倍</string>
	</dict>
	<key>NPC_22_3</key>
	<dict>
		<key>talk1</key>
		<string>这4道门需要4个稿才能破开</string>
	</dict>
	<key>NPC_25_5</key>
	<dict>
		<key>talk1</key>
		<string>公主，我来救你了，先逃出这里吧！</string>
	</dict>
	<key>NPC105_3</key>
	<dict>
		<key>talk1</key>
		<string>这里是神秘塔，一共有10层，但只有前5层是连接的</string>
		<key>talk2</key>
		<string>这里的两种徽章，有不同的功能，但你只能选择一种徽章</string>
	</dict>
	<key>NPC105_8</key>
	<dict>
		<key>talk1</key>
		<string>你…是我？</string>
		<key>talk2</key>
		<string>要使用章，必须要强大的精神力，所以你要先打败你自己来释放精神力！来吧！</string>
	</dict>
	<key>NPC108_5</key>
	<dict>
		<key>talk1</key>
		<string>是真正的公主！我们离开这吧，我带你回家！</string>
	</dict>
	<key>buy</key>
	<string>购买</string>
	<key>cancel</key>
	<string>离开</string>
    </dict>
</plist>
